<%- include('./partials/newHead.ejs')%>
<%- include('./partials/newHeader.ejs')%>

<body>
    <div class="editSection">
    <h1 class="editH1">Edit A Dog Park</h1>
    <div class="editForm">
    <form action="/dogpark/<%=dogpark.id%>?_method=PUT" method="POST">
       <label for="name"><strong>Name:</strong><br><input type="text" name="name" value="<%=dogpark.name%>"><br></label> 
        <label for="image"><strong>Image Link:</strong><br><input class="imgInput" type="text" name="image" value="<%=dogpark.image%>"><br></label>
        <label for="address"><strong>Address:</strong><br><input type="text" name="address" value="<%=dogpark.address%>"><br></label>
        <label for="phoneNumber"><strong>Phone Number:</strong><br><input type="text" name="phoneNumber" value="<%=dogpark.phoneNumber%>"><br></label> 
        <label for="hours"><strong>Open Hours:</strong><br><input type="text" name="hours" value="<%=dogpark.hours%>"><br> </label>
        <label for="rating"><strong>Rating:</strong><br><input type="text" name="rating" value="<%=dogpark.rating%>"><br></label>   
        <label for="comments"><strong>Comments:</strong><br><input class="commentInput" type="text" name="comments" value="<%=dogpark.comments%>"><br></label>
        <input class="submit" type="submit" value="SAVE">
    </form>
    </div>
</div>
<%- include('./partials/newFooter.ejs')%>
</body>
</html>