<%- include('./partials/head.ejs')%>
<%- include('./partials/showHeader.ejs')%>
<body>
    <div class="box">
    <h1 class="parkName"><%=dogpark.name%></h1>
    <h3><strong>Address:</strong> </h3>
    <h5><%=dogpark.address%></h5>
    <h4><strong>Phone Number: </strong></h4>
    <h5><%=dogpark.phoneNumber%></h5>
        <h4><strong>Open Hours:</strong></h4>
        <h5><%= dogpark.hours%></h5>
        <h4><strong>Rating:</strong></h4>
            <h5><%=dogpark.rating%></h5>
        <h4><strong>Comments:</strong></h4>
        <h5 class="comment"><%= dogpark.comments%></h5>
        <a href="/dogpark/<%=dogpark.id%>/edit"><button class="editBtn">EDIT</button></a>
        <form class="showForm" action="/dogpark/<%=dogpark.id%>?_method=DELETE" method="POST">
            <input class="delBtn" type="submit" value="DELETE">
        </form>
        <ul>
            <li class="imgLi">
                <% dogpark.image.map(img =>{%>
                 <img src="<%= img%>" id="images">
              <%})%>
            </li>
        </ul>
        </div>
        <%- include('./partials/footer.ejs')%>
</body>
</html>